.button-submit {
    cursor: pointer;
    border: 1px solid #1a202c;
    padding: 8px;
    min-width: 64px;
    margin: 10px;
   
    background: transparent;
   
    transition: all 0.1s ease-in;
  }
   
  .button-submit:hover {
    background: #1a202c;
    color: #ffffff;
  }

  .form-beli {
      padding: 20px;
      margin: 20px;
  }

  input {
    text-align: center;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }